{% load i18n %}
{% load proctoru_validator %}
<div class="content-wrapper proctoru">
 <h2>{{self.display_name}}</h2>
 <p class="content-para">{{self.description}}<span class="color-skyblue"><strong></strong></span></p>
    <div class="form-wrapper proctoru margin-bottom15">
        <h3 class="form-title">{% trans "Remaining Time" %}</h3>
        <h2 class="text-center"><span id="countdown" class="timer" data="{{self.duration|get_seconds_from_minutes}}"></span> <span class="rm-label">{% trans "Remaining" %}</span></h2>
        <div class="row">
            <div class="col-sm-12 password-reset">
                <div class="form-group  text-center">
                  <button type="button" class="btn btn-info end-exam-btn">{% trans "End Exam" %}</button>
                </div>
            </div>
        </div>
    </div>
    <!--end form-wrapper-->
</div>
