{% load i18n %}
<div class="content-wrapper proctoru">
 <h2>{{self.display_name}}</h2>
 <p class="content-para">{{self.description}}<span class="color-skyblue"><strong></strong></span></p>
    <div class="form-wrapper proctoru">
        <h3 class="form-title display-inline-block pull-left">{% trans "Modifier l'horaire de l'examen" %}</h3>
         <a class="display-inline-block pull-right color-skyblue modify-user-string" href="#user-info-modal">{% trans "Modifiez vos informations personnelles" %}</a>
        <div class="row">
            <div class="col-md-12">
                <div class="border-bottom">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="form-title">{% trans "L'examen est disponible &agrave; partir de ..." %}</h3>
                <label class="exam-schedule-timings">{{first_date_available}} To</label>
                <label class="exam-schedule-timings">{{last_date_available}}</label>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row min-height-calendar">
            <!--LHS-->
            <div class="col-sm-5">
            <label type="text" class="form-control date-time-input">{% trans "S&eacute;lectionnez a Date..." %}</label>
                <div id="datepicker"></div>
                <input id="start-date" type="hidden" name="start-date" value="{{start_date}}">
                <input id="end-date" type="hidden" name="end-date" value="{{end_date}}">
                <input id="selected-date" type="hidden" name="selected-date" value="{{selected_date}}">
                                    <div class="clearfix">&nbsp;</div>
                    <section class="box-wrapper">
                        <h3 class="box-heading">{% trans "Temps de se l'examen" %}</h3>
                        <div class="box-content text-center">
                            <h3 class="box-content-heading text-center">{{exam_time_heading.first_heading}}</h3>
                            <p class="box-content-heading2 text-center">{{exam_time_heading.second_heading}}</p>
                            <h5 class="box-content-text text-center"></h5>
                            <button type="button" class="btn btn-grey keep-time" id="btn-keep-time">{% trans "Temps Restant" %}</button>
                        </div>
                    </section>
            </div>
            <!--end LHS-->
            <!--RHS-->
            <div class="col-sm-7">
                <div class="form-group">
                    <label type="text" class="form-control date-time-input">{% trans "S&eacute;lectionnez une heure" %}</label>
                    <ul class="list-unstyled time-section">
                    {% for available_time in time_list %}
                        <li class="time-row {{available_time.data_value|get_ramaining_timestamp_status:self.runtime.user_id}}">
                            <div class="col-md-7">
                                <h4 class="time-row-heading">{{available_time.time_utc}}</h4>
                                <p class="time-row-heading2">{{available_time.day_year}}</p>
                                <p class="time-row-text">{{available_time.data_value|get_ramaining_timestamp:self.runtime.user_id}}</p>
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-info pull-right select-shedule-time" data-value="{{available_time.data_value}}">{% trans "S&eacute;lectionnez une heure" %}</button>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <!--end RHS-->
        </div>
    </div>
    <!--this is user info modal -->
    <div id="user-info-modal" class="modalDialog">
            <div>
                <!-- <a href="#close" title="Close" class="close">X</a> -->
                <h4>{% trans "Modifiez vos informations personnelles" %}</h4>
                    <p>{% trans "Si vos informations personnelles changent, ou si vous ne d&eacute;sirez plus utiliser notre service, vous pouvez corriger, mettre &agrave; jour, modifier, supprimer, demander qu'elles soient retir&eacute;es de notre site ou d&eacute;sactiver votre compte par courriel en faisant le changement sur votre page de profil ou de notre service client&egrave;le contactable par email &agrave; help@proctoru.com ou en nous contactant par t&eacute;l&eacute;phone ou par courrier postal aux coordonn&eacute;es ci-dessous. Nous r&eacute;pondrons &agrave; votre demande d'acc&egrave;s dans un d&eacute;lai raisonnable ." %}</p>
                <p>{% trans "Le num&eacute;ro de t&eacute;l&eacute;phone &agrave; contacter est (+1) 855-772-8678 . L'adresse postale est 3083 Independence Ave , Suite A, Livermore California, 94551" %}</p>
                <p class="text-center"> <a href="#close" class="btn btn-default">Fermer</a></p>
            <div>
       </div>
       <!--this is user info modal -->
    <!--end form-wrapper-->
</div>