{% load i18n %}
{% load proctoru_validator %}
<div class="content-wrapper proctoru">
 <h2>{{self.display_name}}</h2>
 <p class="content-para">{{self.description}}<span class="color-skyblue"><strong></strong></span></p>
    <div class="form-wrapper proctoru">
        <h3 class="form-title display-inline-block pull-left">{% trans "Planifiez un examen" %}</h3>
        <a class="display-inline-block pull-right color-skyblue modify-user-string" href="#user-info-modal">{% trans "Modifiez vos informations personnelles" %}</a>
        <div class="row">
            <div class="col-md-12">
                <div class="border-bottom">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="form-title">{% trans "L'examen est disponible du ..." %}</h3>
                <label class="exam-schedule-timings">{{first_available_date}} {% trans "au" %} {{final_available_date}}</label>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row min-height-calendar">
            <!--LHS-->
            <div class="col-sm-5">
            <label type="text" class="form-control date-time-input">{% trans "S&eacute;lectionnez une date ..." %}</label>
                <div id="datepicker"></div>
                    <input id="start-date" type="hidden" name="start-date" value="{{start_date}}">
                    <input id="end-date" type="hidden" name="end-date" value="{{end_date}}">
                    <input id="selected-date" type="hidden" name="selected-date" value="{{selected_date}}">
            </div>
            <!--end LHS-->
            <!--RHS-->

            <div class="col-sm-7">
                <div class="form-group">
                    <label type="text" class="form-control date-time-input">{% trans "S&eacute;lectionnez une heure" %}</label>
                    <ul class="list-unstyled time-section">

                    {% if status == "emptylist" %}
                    <li class="time-row">
                        <div class="col-md-8">
                            <h4 class="time-row-heading">{% trans "Aucun horaire d'examen disponible" %}</h4>
                            <p class="time-row-heading2">{% trans "Veuillez essayer une autre date" %}</p>
                        </div>
                    </li>
                    {% endif %}
                    {% for available_time in time_list %}
                        <li class="time-row">

                        <!--new code-->
                            <div class="col-md-6 no-padding "><h4 class="time-row-heading">{{available_time.time_utc}}</h4></div>
                            <div class="col-md-6 no-padding "> <button class="btn btn-info pull-right select-shedule-time" data-value="{{available_time.data_value}}">{% trans "S&eacute;lectionnez une heure" %}</button></div>
                       <!--end new code-->

                            <div class="col-md-12 no-padding ">
                                <p class="time-row-heading2">{{available_time.day_year}}</p>
                                <p class="time-row-text">{{available_time.data_value|get_ramaining_timestamp:self.runtime.user_id}}</p>
                            </div>

                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <!--end RHS-->
        </div>
    </div>
    <!--hello -->
        <div id="user-info-modal" class="modalDialog">
            <div>
                <!-- <a href="#close" title="Close" class="close">X</a> -->
                <h4>{% trans "Modifiez vos informations personnelles" %}</h4>
                    <p>{% trans "Si vos informations personnelles changent, ou si vous ne d&eacute;sirez plus utiliser notre service, vous pouvez corriger, mettre &agrave; jour, modifier, supprimer, demander qu'elles soient retir&eacute;es de notre site ou d&eacute;sactiver votre compte par courriel en faisant le changement sur votre page de profil ou de notre service client&egrave;le contactable par email &agrave; help@proctoru.com ou en nous contactant par t&eacute;l&eacute;phone ou par courrier postal aux coordonn&eacute;es ci-dessous. Nous r&eacute;pondrons &agrave; votre demande d'acc&egrave;s dans un d&eacute;lai raisonnable ." %}</p>
                <p>{% trans "Le num&eacute;ro de t&eacute;l&eacute;phone &agrave; contacter est (+1) 855-772-8678 . L'adresse postale est 3083 Independence Ave , Suite A, Livermore California, 94551" %}</p>
                <p class="text-center"> <a href="#close" class="btn btn-default">Fermer</a></p>
            <div>
       </div>
    <!--end hello-->
    <!--end form-wrapper-->
</div>
